<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PETS_STORE</title>
    <link rel="stylesheet" href="../static/style.css">
  
</head>
<body>
    <header>
        <div class="menu container">
            <a href="#" class="logo"><img src="../static/img/footer-logo.png" alt=""></a>
            <input type="checkbox" id="menu">
            <label for="menu">
                <img src="../static/img/menu-btn.png" class="menu-icono"  alt="">
            </label>

            <nav class="navbar">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Contáctanos </a></li>
                    <li><a href="/registro">Registro</a></li>
                </ul>

            </nav>

        </div>


        <div class="header-content container">
            <h1>La mejor guardería de mascotas</h1>
            <p>
                El mejor lugar para tus mascotas
            </p>
            <a href="#" class="btn-1">Más Informacion</a>
        </div>
        <img src="../static/img/perro 2.png" alt="">
    </header>

    <main class="services container">
        <div class="service">
            <img src="../static/img/alimentos-para-mascotas(1).png" alt="" style="width: 30%;">
            <h3>Comida</h3>
            <p>Ofrecemos comida para razas grandes, medianas y pequeñas</p>
        </div>

        <div class="service">
            <img src="../static/img/campana.png" alt=""style="width: 30%;">
            <h3>Accesorios</h3>
            <p>Encuentra los mejores collares, bufandas y botas para tus mascotas</p>
        </div>

        <div class="service">
            <img src="../static/img/la-tienda-de-animales.png" alt=""style="width: 30%;">
            <h3>Camas</h3>
            <p>Encuentra la mejor cama para tus mascotas</p>
        </div>

        
    </main>

    <section class="porfolios container">
        <div class="texto">
        <h2>Sobre nuestro sitio</h2>
        <div class="porfolio">
            <div class="texto-superpuesto">
                <h3>Hogar de Perros</h3>
                <p> Somos el mejor lugar para cuidar a tu mascota <br>
                    Contamos con las mejores instalaciones y servicios<br>
                    Disfruta de la compañia de otras mascotas<br>
                    Ofrecemos cuidado y aseo 24 horas al día a tu mascota
                </p>
                <a href="#" class="btn-2">Más Información</a>
            </div>
            <img src="../static/img/perros.png" alt="" style="width: 30%;">
           

        </div>
    </div>
    </section>

    

    <footer>
        <div class="container">
            <div class="info">
                <div class="info-content">
                    <div class="info-price">
                        <article>
                            <h2>Adopción de Perros</h2>
                            <p>Adopta un perro, cambia una vida <br>
                                ¿Estás buscando un nuevo miembro para tu familia? ¿Quieres brindarle un hogar lleno de amor<br>
                                a un perro necesitado? ¡Has llegado al lugar indicado! Aquí encontrarás toda la información <br>
                                que necesitas sobre el maravilloso proceso de adopción de perros.<br>
                        </article>
                        <aside>
                            <h3>Información sobre la adopción de perros</h3>
                            <ul>
                                <li>Requisitos para adoptar</li>
                                <li>Procedimiento de adopción</li>
                                <li>Cuidados posteriores</li>
                            </ul>
                        </aside>
                    </div>
                    
                </div>
                <hr>
                <div class="enlaces">
                    <img src="../static/img/footer-logo.png" alt="" >
                    <div class="enlace">
                        
                        <li><a href="#"><img src="../static/img/google-icon.png" alt=""></a></li>
                        <li><a href="#"><img src="../static/img/linkedin-icon.png" alt=""></a></li>
                        <li><a href="#"><img src="../static/img/fb-icon.png" alt=""></a></li>
                    </div>
                </div>

            </div>
        </div>
    </footer>

</body>
</html>