<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PETS_STORE</title>
    <link rel="stylesheet" href="../static/style.css">
  
</head>
<body>
    <header>
        <div class="menu container">
            <a href="#" class="logo"><img src="../static/img/footer-logo.png" alt=""></a>
            <input type="checkbox" id="menu">
            <label for="menu">
                <img src="../static/img/menu-btn.png" class="menu-icono"  alt="">
            </label>

            <nav class="navbar">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Sobre </a></li>
                    <li><a href="#">Contactos</a></li>
                </ul>

            </nav>

        </div>


        <div class="header-content container">
            <h1>La mejor tienda de mascotas</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
            <a href="#" class="btn-1">Más Informacion</a>
        </div>
        <img src="../static/img/perro 2.png" alt="">
    </header>

    <main class="services container">
        <div class="service">
            <img src="../static/img/alimentos-para-mascotas(1).png" alt="" style="width: 30%;">
            <h3>Producto 1</h3>
            <p>Deleniti laborum voluptatibus dolor eveniet rerum ea aut at!</p>
        </div>

        <div class="service">
            <img src="../static/img/campana.png" alt=""style="width: 30%;">
            <h3>Producto 2</h3>
            <p>Deleniti laborum voluptatibus dolor eveniet rerum ea aut at!</p>
        </div>

        <div class="service">
            <img src="../static/img/la-tienda-de-animales.png" alt=""style="width: 30%;">
            <h3>Producto 3</h3>
            <p>Deleniti laborum voluptatibus dolor eveniet rerum ea aut at!</p>
        </div>

        
    </main>

    <section class="porfolios container">
        <div class="texto">
        <h2>Sobre los perros</h2>
        <div class="porfolio">
            <div class="texto-superpuesto">
                <h3>Razas de Perros</h3>
                <p> aut odit veniam nobis asperiores amet tempora veritatis? <br>
                    aut odit veniam nobis asperiores amet tempora veritatis?<br>
                    aut odit veniam nobis asperiores amet tempora veritatis?<br>
                    aut odit veniam nobis asperiores amet tempora veritatis?
                </p>
                <a href="#" class="btn-2">Más Información</a>
            </div>
            <img src="../static/img/perros.png" alt="" style="width: 30%;">
           

        </div>
    </div>
    </section>

    

    <footer>
        <div class="container">
            <div class="info">
                <div class="info-content">
                    <div class="info-price">
                        <article>
                            <h2>Adopción de Perros</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                                Vel ipsam tempora dolore unde quisquam porro rem accusamus<br>
                                 inventore velit, voluptatibus magni, nihil, accusantium<br>
                                  iste officiis voluptates quae possimus numquam cumque.<br>
                        </article>
                        <aside>
                            <h3>Información sobre la adopción de perros</h3>
                            <ul>
                                <li>Requisitos para adoptar</li>
                                <li>Procedimiento de adopción</li>
                                <li>Cuidados posteriores</li>
                            </ul>
                        </aside>
                    </div>
                    
                </div>
                <hr>
                <div class="enlaces">
                    <img src="../static/img/footer-logo.png" alt="" >
                    <div class="enlace">
                        
                        <li><a href="#"><img src="../static/img/google-icon.png" alt=""></a></li>
                        <li><a href="#"><img src="../static/img/linkedin-icon.png" alt=""></a></li>
                        <li><a href="#"><img src="../static/img/fb-icon.png" alt=""></a></li>
                    </div>
                </div>

            </div>
        </div>
    </footer>

</body>
</html>